<div class="form-home">
  <div class="read-more-wrap">The resource allows you to store passwords directly into your cloud storage on Google.
    No need to install any third-party software. No need to spread your passwords between different
    <div class="read-more-cover" *ngIf='!show'></div>
  </div>
  <div [ngClass]="show?'read-more-target read-more-target-show':'read-more-target'">
    password storing platforms.
    You can save as many passwords as you want and can be accessed whenever and wherever you want!
    The system is based on the Google Password Manager. 
    Currently, 11/2020 supports last Chrome, Edge and FireFox versions.
    <p>To start just insert the password caption and click Go!</p>
  </div>
  <div>
    <a class="read-more-button" href="#" (click)='show=!show' *ngIf='!show'>read more</a></div>
  <h1 class="h3 mb-3 font-weight-normal">Insert the resource name -</h1>
  <p>
    <input #res type="text" class="form-control form-control-lg" placeholder="windows">
  </p>
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)='goSubDomain(res.value)'>Go!</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
</div>