.h3 {
    font-size: 2.75rem;
}

.form-control-lg {
    font-size: 5.25rem;
    line-height: 0;
}

.btn-lg {
    font-size: 2.25rem;
    font-weight: bolder;
}

.form-home {
    width: 600px;
    margin: auto;
}