.h3 {
    font-size: 2.75rem;
    margin-top: 30px;
}

.form-control-lg {
    font-size: 5.25rem;
    line-height: 0;
}

.btn-lg {
    font-size: 2.25rem;
    font-weight: bolder;
}

.form-home {
    width: 600px;
    margin: auto;
}

.read-more-wrap {
    max-height: 46px;
    position: relative;
    overflow: hidden;
}

.read-more-wrap .read-more-cover {
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    margin: 0;
    padding: 15px 0;
    background-image: linear-gradient(to bottom, transparent, #e9ecef);
}

.read-more-target {
    transition: .1s ease;
    font-size: 0;
}

.read-more-target-show {
    font-size: inherit;
}

.read-more-button {
    float: right;
    font-size: smaller;
    color: #212529;
}

.read-more-button:hover {
    text-decoration: none;
}
